body {
    margin: 0;
    min-height: 100vh;
    background: none;
}
.bg-grey {
    /* background-color: #808080; */
    --bs-grey-rgb: 128, 128, 128;
    background-color: rgba(var(--bs-grey-rgb), var(--bs-bg-opacity, 1)) !important;
    /*color: grey; */
}
.bg-green {
    /*background-color: rgba(var(--bs-green-rgb), var(--bs-bg-opacity, 0)) !important; */
    background-color: #8DDCDC !important; /* !important ensures it overrides Bootstrap */
    border: none;
}
.video-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}
.card-title {
    font-family: "superFont", "serif";
}
/*.card-body {
    font-family: "york", "serif";
} */
.red_boxy {
    background-color: #DC143C;
    background-image: var(--bs-gradient); 
  }
@font-face {
  font-family: "superFont";
  src: url("Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family: "protest";
    src: url("Protest_Guerrilla/ProtestGuerrilla-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "york";
    src: url("newyork/NewYork PERSONAL USE.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.title {
    text-align: center;
    font-size: 60px;
    color: white;
    font-family:'protest', serif;
}
.navbar .nav-link {
    font-family: 'protest', serif;
}
.paragraphs1 {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: "superFont", serif;
}
.paragraphs2 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'york', serif;
}
.mini {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: "superFont", serif;
}